/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: abster;
    src: url('fonts/ABSTER.otf') format('opentype'); font-style: normal; font-weight: normal;
}

@font-face {
    font-family: terano;
    src: url('fonts/Terano.otf') format('opentype'); font-style: normal; font-weight: normal;
}

/* estilo var */
:root {
    --color-main-one: #016170;
    --color-main-two: #009393;
    --color-main-tree: #00E0C6;
    --color-main-four: #FFFFFF;

    --background-main: #0c314b;
    --background-fade: #031a2cbd;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-main-four ) var(--color-main-tree)
}
/*navegadores Chrome Edge Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--color-main-one);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-main-four);
    border-radius: 20px;
    border: 1px solid var(--color-main-tree);
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    color: var(--color-main-four);
}

a {
    text-decoration: none;
}

body {
    font-family: 'abster';
    letter-spacing: 3px;
    background: var(--background-main);
}
/* top */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color-main-one);
    transition: background 1.5s ease-in-out;
    z-index: 100;
    transition: 0,5s;
}

#menu {
    display: flex;
}

.navbar ul li {
    margin: 10px;
    font-family: 'Roboto';
    font-size: 12px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color: inherit;
}

.navbar ul li a:hover {
    color: var(--background-main);
}

nav .menu {
    background: var(--background-main);
}

nav .menu, nav .menu ul li a {
    color: var(--color-main-four);
}

#home {
    padding-top: 120px;
}

.home-section-l {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.home-text h1 {
    font-size: 60px;
    letter-spacing: 10px;
    color: var(--color-main-four);
    margin: auto;
    padding-bottom: 10px;
}

.home-text h2 {
    white-space: nowrap;
    overflow: hidden;
    width: 36em;
    animation: type 4s steps(60, end);
    font-family: 'terano';
    color: var(--color-main-four);
    font-size: 15px;
    letter-spacing: 10px;
    margin: auto;
}

.home-section h2:nth-child(2) {
    animation: type2 8s steps (60, end);
 }

 .home-section span {
    animation: blink 1s infinite;
 }

.conhecimento {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 40px;  
    color: var(--color-main-two)  
}

.html:hover {
    font-size: 50px;
    color: #f06529;
    transition: 0.5s;
}

.css:hover  {
    font-size: 50px;
    color: #264de4;
    transition: 0.5s;
}

.js:hover {
    font-size: 50px;
    color: #F0DB4F;
    transition: 0.5s;
}

.bottons {
    display: flex;
    justify-content: center;
}

.bottom-linkedin, .bottom-cv, .bottom-git {
    margin: 10px;
    text-align: center;
 }
  .btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "Roboto";
    text-decoration: none;
    margin: auto;
    border: 2px solid var(--color-main-tree);
    padding: 14px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  .btn1:hover::before{
    width: 100%;
  }
  .btn::before{
    background: var(--color-main-two);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  .linkedin::before{
    width: 0%;
    height: 100%;
  }
  .linkedin:hover::before{
    width: 100%;
  }
  .btn::before{
    background: var(--color-main-two);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  .github::before{
    width: 0%;
    height: 100%;
  }
  .github:hover::before{
    width: 100%;
}
/* efeitos h2 */
@keyframes type{
    from {width: 0;}
}
@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{width: 100;}
}
@keyframes blink{
    to{opacity: .0;}
}
/* sobre */
main {
    font-family: 'Roboto';
    padding: 10rem;
}

.sobre-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-section-titulo {
    color: var(--color-main-four);
    text-transform: uppercase; 
    margin: 4rem 0;
    text-align: center;
}

.sobre-content-r {
    text-align: center;
    line-height: 25px;
    color: var(--color-main-four);
    justify-content: center;
}

/* projetos */
#projetos {
    padding: 2rem 10rem 2rem 10rem;
    font-family: 'Roboto';
}

.projetos-section h1 {
    text-align: center;
    
    color: var(--color-main-four);
    text-transform: uppercase;
    margin: 4rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*estilos dos cards*/
.card {
    position: relative;
    height: 400px;
    width: 300px;
    background-color: var(--color-main-two);
    border-radius: 10px;
}

.proj {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
 }
    .proj h2 {
    padding: 50px;
    }
    .proj p {
        padding-bottom: 50px;
    }
    .proj a {
        color: inherit;
    }

.proj1 {
    text-align: center;
    color: var(--color-main-four);
    }
    .proj2 .txt {
        color: var(--color-main-four);
        transition: 0.5s;
        overflow-y: hidden;
    }
    .proj2 {
        background-color: var(--color-main-one);
        border-radius: 10px;
        transition: 1s;
    }

    .card:hover .proj2 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 50px;
        left: 38%;
        background-color: var(--color-main-one);
        margin-top: -10%;
        transition: 0.5s;
    }

    .loading {
        animation: is-rotating 1s infinite;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 6px solid var(--color-main-four);
        border-top-color: var(--color-main-tree);
    }

    .card:hover .loading{
        animation: hidden;
    }
    .card:hover .txt {
        position: fixed;
        opacity: 0;
        transition: 0.5s;
    }
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

/* Contato */
#contato {
    padding: 2rem 0 2rem 0;
    font-family: 'Roboto';
    color: var(--color-main-four);
}

.contato-section-title {
    text-align: center;
    text-transform: uppercase;
}

.contato-container {
    display: flex;
}

.contato-info {
    width: 40%;
    padding-left: 120px;
    display: grid;
    align-content: center;
}

.contato-row {
    width: 60%;
}

.contato-info i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.contato-info i:hover {
    background-color: var(--color-main-four);
    color: var(--background-main);
}

.contato-info h5 {
    padding: 0 0 0 50px;
    font-size: 20px;
    line-height: 0;
}

.contato-info p {
    margin: 20px 0px 10px 0px;
    padding: 0 0 30px 50px;
    font-size: 14px;
}

.contato-row form {
    width: 100%;
}

.contato-row-nome, .contato-row-email {
    width: 100%;
}

textarea {
    color: var(--color-main-four);
    height: 120px;
    border: 1px solid var(--color-main-two);
    border-radius: 4px;
    width: 80%;
    margin: 10px;
    outline: none;
    background-color: var(--color-main-one);
}

input {
    color: var(--color-main-four);
    height: 40px;
    border: 1px solid var(--color-main-two);
    border-radius: 4px;
    width: 80%;
    margin: 10px;
    outline: none;
    background-color: var(--color-main-one);
}

.contato-row-btn {
    display: flex;
    padding: 10px;
}

.contato-row-btn button {
    text-align: left;
    background-color: var(--color-main-tree);
    padding: 10px 35px;
    border: 0;
    border-radius: 50px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .4s;
}

.contato-row-btn span {
    color: var(--color-main-four);
    padding-left: 20px;
    padding-top: 10px;
    display: none;
}

.contato-row-btn button:hover {
    background: none;
    border: 1px solid var(--color-main-two);
    color: var(--color-main-four);
}

.whatsapp a{ /* botão flutuante do wpp  */
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 8px;
    right: 2%;
    color: var(--color-main-four);
    background-color: var(--color-main-one);
    bottom: 150px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    outline: none;
    transition: all 0.3s;
}

.whatsapp a:hover {
    background-color: #00804B;
}

/* footer */
footer {
    height: auto;
    padding: 20px 0px 20px 0px;
    font-family: 'Roboto';
    text-align: center;
    color: var(--color-main-four);
    background-color: var(--color-main-one);
}

.footer h2 {
    text-transform: uppercase;
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.social-icon {
    font-size: 50px;
    color: inherit;
    text-decoration: none;
}

.social-icon a {
    font-size: 45px;
    color: inherit;
    text-decoration: none;
}

.footer p {
    font-size: 12px;
    text-decoration: none;
}

.final {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* teste color bg */
.home-section {
    background: linear-gradient(to top, var(--background-fade) 20%, var(--background-main), transparent);
}
.main {
    background: linear-gradient(to bottom, var(--background-fade) 20%, var(--background-main), transparent);
}
.contato {
    background: linear-gradient(to top, var(--background-fade) 10%, var(--background-main), transparent);
}

/* aplicações mobile */
#btn-mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
   .card {
    margin: 10px;
   }
}

@media (max-width: 960px) {
    .cards {
        justify-content: center;
    }

    main {
        padding: 5rem;
    }
}

@media (max-width: 768px) {
    .contato-section-title {
        margin: 5px;
    }
}

@media (max-width: 600px) {
    .home-text h1 {
        text-align: center;
        font-size: 50px;
    }
    .home-text h2 {
        font-size: 8px;
        letter-spacing: 5px;
    }
    .cards {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .contato-section-title {
        margin: 10%;
    }
    .contato-container {
        flex-direction: column;
        align-items: center;
    }
    .contato-info {
        padding-left: 0px;
        width: 0 auto;
        justify-content: center;
    }

    .contato-info i {
        display: none;
    }

    .navbar {
        justify-content: flex-end;
    }

    #menu {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 70px;
        background: var(--color-main-one);
        height: 0px;
        transition: 0.5s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a, li{
        padding: 1rem 0;
        border-bottom: 1px solid var(--color-main-tree);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        color: var(--color-main-four);
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 4px;
        transition: 0.5s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -5.5px;
    }
    #projetos {
        flex-direction: column;
    }
    .bottons {
        flex-direction: column;
        padding: 3rem;
    }
}