.home-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 7rem;
}
.home-section h1 {
    font-family: 'Abster';
    font-size: 60px;
    letter-spacing: 10px;
    color: var(--color-main-four);
    margin: auto;
    padding-bottom: 10px;
}
.home-section h2 {
    font-family: 'Silkscreen';
    white-space: nowrap;
    overflow: hidden;
    width: 32.5rem;
    animation: type 4s steps(60, end);
    color: var(--color-main-four);
    font-size: 1.5rem;
    letter-spacing: 10px;
    text-align: center;
}
.home-section h2:nth-child(2) {
    animation: type2 8s steps (60, end);
}
.home-section span {
    animation: blink 1s infinite;
 }
.skills {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 40px;  
    color: var(--color-main-two)  
}
.html:hover {
    font-size: 50px;
    color: #f06529;
    transition: 0.5s;
}
.css:hover  {
    font-size: 50px;
    color: #264de4;
    transition: 0.5s;
}
.sass:hover  {
    font-size: 50px;
    color: #CF649A;
    transition: 0.5s;
}
.js:hover {
    font-size: 50px;
    color: #F0DB4F;
    transition: 0.5s;
}
.bottons {
    display: flex;
    justify-content: center;
}
.bottom-linkedin, .bottom-cv, .bottom-git {
    margin: 10px;
    text-align: center;
 }
  .btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "Roboto";
    text-decoration: none;
    margin: auto;
    border: 2px solid var(--color-main-tree);
    padding: 14px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  .btn1:hover::before{
    width: 100%;
  }
  .btn::before{
    background: var(--color-main-two);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  .linkedin::before{
    width: 0%;
    height: 100%;
  }
  .linkedin:hover::before{
    width: 100%;
  }
  .btn::before{
    background: var(--color-main-two);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  .github::before{
    width: 0%;
    height: 100%;
  }
  .github:hover::before{
    width: 100%;
}

@keyframes type{
    from {width: 0;}
}
@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{width: 80;}
}
@keyframes blink{
    to{opacity: .0;}
}