/*PROJECTS
SECTION*/
.projects-section {
    padding: 2rem 0rem 2rem 0rem;
    font-family: 'Roboto';
}
.projects-section h1 {
    text-align: center;  
    color: var(--color-main-four);
    text-transform: uppercase;
    margin: 4rem 0;
}
/*CARDS
STYLESHEET*/
.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.card {
    margin: 1rem;
    position: relative;
    height: 390px;
    width: 280px;
    background-color: var(--color-main-two);
    border-radius: 10px;
}
.proj {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
 }
    .proj h2 {
    padding: 50px;
    }
    .proj p {
        padding-bottom: 50px;
    }
    .proj a {
        color: inherit;
    }
.proj1 {
    text-align: center;
    color: var(--color-main-four);
    }
    .proj2 .txt {
        color: var(--color-main-four);
        transition: 0.5s;
        overflow-y: hidden;
    }
    .proj2 {
        background-color: var(--color-main-one);
        border-radius: 10px;
        transition: 1s;
    }
    .card:hover .proj2 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 50px;
        left: 38%;
        background-color: var(--color-main-one);
        margin-top: -10%;
        transition: 0.5s;
    }
    .loading {
        animation: is-rotating 1s infinite;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 6px solid var(--color-main-four);
        border-top-color: var(--color-main-tree);
    }
    .card:hover .loading{
        animation: hidden;
    }
    .card:hover .txt {
        position: fixed;
        opacity: 0;
        transition: 0.5s;
    }
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}